
body{
  background-color: black;
  color: white;
  font-family: arial;
}

.calculator-button{
  background-color: rgb(51,51,51);
  color: white;
  border: none;
  font-size: 26px;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  margin-right: 5px;
}

.orange-button{
  background-color: orange;
}

.calculation{
  font-size: 45px;
  margin-bottom: 10px;
  margin-top: 12px;
  
}

.clear-button{
  font-size: 18px;
}