body{
  font-family: arial;
}

p {
  margin-top: 0;
}

.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  gap: 10px 10px;
  align-items: center;
}

.todo-input-grid{
  margin-bottom: 10px;
}


.due-date-input{
  font-size: 15px;
  padding: 6px;
}

.name-input{
  font-size: 15px;
  padding: 7px;
} 


.add-button{
  background-color: green;
}

.delete-button{
  background-color: darkred;
}

.add-button,
.delete-button{
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
}
